<div class="form-row">
    <div class="form-group col-12 offset-md-2 col-md-2">
        <button class="btn btn-success btn-play" (click)="btnClick1($event)"></button>
    </div>
    <div class="form-group col-12 col-md-2">
        <button class="btn btn-success btn-play" (click)="btnClick2($event)"></button>
    </div>
    <div class="form-group col-12 col-md-2">
        <button class="btn btn-success btn-play" (click)="btnClick3($event)"></button>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-12 offset-md-2 col-md-2">
        <button class="btn btn-success btn-play" (click)="btnClick4($event)"></button>
    </div>
    <div class="form-group col-12 col-md-2">
        <button class="btn btn-success btn-play" (click)="btnClick5($event)"></button>
    </div>
    <div class="form-group col-12 col-md-2">
        <button class="btn btn-success btn-play" (click)="btnClick6($event)"></button>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-12 offset-md-2 col-md-2">
        <button class="btn btn-success btn-play" (click)="btnClick7($event)"></button>
    </div>
    <div class="form-group col-12 col-md-2">
        <button class="btn btn-success btn-play" (click)="btnClick8($event)"></button>
    </div>
    <div class="form-group col-12 col-md-2">
        <button class="btn btn-success btn-play" (click)="btnClick9($event)"></button>
    </div>
</div>
