.btn-play{

    width: 100px;
    height: 100px;

}
table, tr, td {
  border: none;
}

.container{
  max-width: 500px;
margin: auto;
}

#para{
  margin: auto;
  font-size:large;
  font-weight: 10px;
  font: bolder;
  color:blue;
  text-align: center;
}
