<div class="container" id="gm">
    <div class="form-row">
        <div class="form-group col-12 offset-md-2 col-md-2">
            <button class="btn btn-success btn-play" id="btn-1" (click)="btnClick(1)"></button>
        </div>
        <div class="form-group col-12 col-md-2">
            <button class="btn btn-success btn-play" id="btn-2" (click)="btnClick(2)"></button>
        </div>
        <div class="form-group col-12 col-md-2">
            <button class="btn btn-success btn-play" id="btn-3" (click)="btnClick(3)"></button>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12 offset-md-2 col-md-2">
            <button class="btn btn-success btn-play" id="btn-4" (click)="btnClick(4)"></button>
        </div>
        <div class="form-group col-12 col-md-2">
            <button class="btn btn-success btn-play" id="btn-5" (click)="btnClick(5)"></button>
        </div>
        <div class="form-group col-12 col-md-2">
            <button class="btn btn-success btn-play" id="btn-6" (click)="btnClick(6)"></button>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12 offset-md-2 col-md-2">
            <button class="btn btn-success btn-play" id="btn-7" (click)="btnClick(7)"></button>
        </div>
        <div class="form-group col-12 col-md-2">
            <button class="btn btn-success btn-play" id="btn-8" (click)="btnClick(8)"></button>
        </div>
        <div class="form-group col-12 col-md-2">
            <button class="btn btn-success btn-play" id="btn-9" (click)="btnClick(9)"></button>
        </div>
    </div>
</div>
<div id="ch">
    <p> WHAT ARE YOU WANT X OR O</p>
    <button class="btn btn-warning mr-4" (click)="btnChO()">O</button>
    <button class="btn btn-warning" (click)="btnChX()">X</button>
</div>
<div id="wnr">
    <p>THE WINNER IS {{ winner }}</p>
</div>